@import "tailwindcss";

@theme inline {
  --color-primary: var(--color-primary-val);
  --color-secondary: var(--color-secondary-val);
  --color-third: var(--color-third-val);
  --color-fourth: var(--color-fourth-val);
  --color-accent: var(--color-accent-val);
  --color-border: var(--color-border-val);
  --color-text: var(--color-text-val);
  --color-error: #ef4444;
  --color-shadow: var(--color-shadow-val);
}

:root {
  /* Light mode values */
  --color-primary-val: #ffffff;
  --color-secondary-val: #bae6fd;
  --color-third-val: #7dd3fc;
  --color-fourth-val: #2dd4bf;
  --color-accent-val: #aa3bff;
  --color-border-val: #e5e7eb;
  --color-text-val: #16171d;
  --color-shadow-val: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode values */
    --color-primary-val: #16171d;
    --color-secondary-val: #252630;
    --color-third-val: #414354;
    --color-fourth-val: #5a5d74;
    --color-accent-val: #c084fc;
    --color-border-val: #2e303a;
    --color-text-val: #f3f4f6;
    --color-shadow-val: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  }
}

:root {
  --text: var(--color-text);
  --bg: var(--color-primary);
  --border: var(--color-border);
  --accent: var(--color-accent);
  --shadow: var(--color-shadow);

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--color-text);
    --bg: var(--color-primary);
    --border: var(--color-border);
    --accent: var(--color-accent);
    --shadow: var(--color-shadow);
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Wrap with @layer base so that tailwind css defined in a component file is applied */
@layer base {

  h1,
  h2 {
    font-family: var(--heading);
    font-weight: 500;
    color: var(--text-h);
  }

  h1 {
    font-size: 56px;
    letter-spacing: -1.68px;
    margin: 32px 0;

    @media (max-width: 1024px) {
      font-size: 36px;
      margin: 20px 0;
    }
  }

  h2 {
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;
    margin: 0 0 8px;

    @media (max-width: 1024px) {
      font-size: 20px;
    }
  }

  p {
    margin: 0;
  }
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}